name: Build & Push

on:
  push:
    branches: [main]
    paths:
      - 'Dockerfile'
      - 'src/**'
      - 'api/**'
      - 'requirements.txt'

  workflow_run:
    workflows: ["Tests & Quality"]
    types: [completed]
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    if: github.event_name == 'push' || github.event.workflow_run.conclusion == 'success'

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to Azure Container Registry
        run: |
          az acr login --name ${{ secrets.ACR_LOGIN_SERVER }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/mlops:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/mlops:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
